html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing:inherit;
}


:root {
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --accent-color: #2196F3;
    --primary-white-color: #FFFFFF;
    --secondary-bg: #F5F4FA;
    --footer-bg:  #2F303A;
    --icons-color: #AFB1B8;
}

body {
    margin: 0;
    font-family: Roboto, sans-serif;
    color: var(--primary-text-color);
    background-color: var(--primary-white-color);
    letter-spacing: 0.03em;
   }

   p {
       margin-bottom: 0;
       margin-top: 0;
   }

   .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

   .container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

   

  .list {
    padding: 0;
    margin: 0;
    list-style: none;
  }

.link {
    text-decoration: none;
    color: inherit;  
  }

  .main-nav {
      display: flex;
      align-items: center;   
  }
  
/* Site nav */

.page-header {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    border-bottom: 1px solid #eeeeee;
}

.link-logo {
    color: var(--title-text-color);
    text-decoration: none;
    font-family: Raleway, sans-serif;
    font-size: 26px;
    line-height: 1.19;
}

.site-nav {
    display: flex;
    margin-left: 93px;
}

.site-nav .item:not(:last-child) {
    margin-right: 50px;
}


.site-nav .link {
    color: var(--title-text-color);
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;  
}

.site-nav .link:hover, 
.site-nav .link:focus,
.site-nav .link.current,
.contact-nav .link:hover,
.contact-nav .link:focus,
.footer .contact:hover,
.footer .contact:focus,
.accent     {
    color: var(--accent-color);   
}

.contact-nav {
    display: flex;
    margin-left: auto;
}

.contact-nav .item + .item {
    margin-left: 50px;
}

.contact-nav .link {
    display: flex;
    align-items:center;
    padding-top: 32px;
    padding-bottom: 32px;   
}

.icon {
    
    fill: #757575;
    margin-right: 10px;   
}

.link:hover .icon,
.link:focus .icon{
    fill: var(--accent-color);
}


  /* main */

  .hero {
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4) 
        ),
         url(../images/hero.jpg);
    background-repeat: no-repeat;
    background-position: center ;
    margin-left: auto;
    margin-right: auto;
    max-width: 1600px;
    height: 600px;
    background-size: cover ;
    
      background-color: var(--footer-bg);
      text-align: center;
      padding: 200px 0;    
  }

  .hero-title { 
    margin-top: 0;
    margin-bottom: 30px;
    color: #FFFFFF;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
  }

  
  
  .button {
    border-radius: 4px;
    border-color: transparent;
    padding: 10px 32px;
    min-width: 200px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    

    color: var(--primary-white-color);
    background-color: var(--accent-color);

    font-family:inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    cursor: pointer;
     }

     .button:hover,
     .button:focus {
        background-color: #188CE8;
    }

  
  .button-secondary {
    border-radius: 4px;
    border-color: transparent;
    font-family:inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    cursor: pointer;
    color: var(--title-text-color);
    background-color: var(--secondary-bg);
    padding: 6px 22px;
}

  .button-secondary:hover,
  .button-secondary:focus,
  .button-secondary.active {
      color: var(--primary-white-color);
      background-color: var(--accent-color);
      box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  }

  .advantage {
      display: flex;
  }

  .icons {
    width: 70px;
    height: 70px;
  }

  .advantage .iconbg{
    display: flex;
    align-items:center;
    justify-content:center;
    height: 120px;
    width: 270px;
    margin-bottom: 30px;
    background-color: var(--secondary-bg);
    border-radius: 4px;
  }


  .advantage .item:not(:last-child) {
    margin-right: 30px;
}

  .section {
      padding: 94px 0;
  } 

  .no-paddingbt {
      padding-bottom: 0;
  }

  .paddingtop {
    padding-top: 50px;
}

.section-title {
    color:var(--title-text-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    margin-top: 0;
    margin-bottom: 50px; 
  }


.section-subtitle {
    color:var(--title-text-color);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 10px;
   }

.advantage .text {
    font-size: 14px;
    line-height: 1.71;
}

.work {
    display: flex;
}

.work .item {
    position: relative;
}


.work-title {
    position: absolute;
    bottom:  0;

    display: flex;
    margin-bottom: 0;
    width: 370px;
    height: 70px;
    align-items:center;
    justify-content: center;
    
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    color: var(--primary-white-color);
    background: rgba(47, 48, 58, 0.8);
}

.work .item + .item {
    margin-left: 30px;
}


.team {
    background-color: var(--secondary-bg);  
}


.team-list .title {
    color: var(--title-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 10px;
}

.team-list .text {
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    margin-bottom: 16px;
}

.team-list {
    display: flex;  

}

.team-list>.item {
    background-color: var(--primary-white-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    padding-bottom: 30px;
}

.team-list>.item + .item {
    margin-left: 30px;
}

.clients.list {
    display: flex;
}

.clients .item + .item {
    margin-left: 30px;
}

.logo-client {
    display: flex;
    align-items:center;
    justify-content: center ;
   
    width: 170px;
    height: 92px;
    border: 1px solid var(--icons-color);
    border-radius: 4px;
}

.logo-client:hover,
.logo-client:focus {
    border: 1px solid var(--accent-color);
}

.logo-client:hover .letter,
.logo-client:focus .letter{ 
    fill: var(--accent-color);
}

.logo-client .letter{
fill: var(--icons-color);
width: 106px;
height: 60px;
}


.filter {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    
}

.filter .item:not(:last-child) {
    margin-right: 8px;
}

.projects {
    display: flex;
    flex-wrap: wrap;   
}

.projects .item:not(:nth-child(3n)) {
    margin-right: 30px;
    
}

.projects .item:nth-child(-n+6) {
    margin-bottom: 30px;

}

.projects .title {
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    margin-top: 0;
    
    margin-bottom: 4px;   
}

.projects .text {
    font-size: 16px;
    line-height: 1.88;   
}

.projects .link {
    display: block;
}

.projects .link:hover,
.projects .link:focus {   
box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}



img {
    display: block;
    margin-bottom: 0;
}


.description {
    
    border-left: 1px solid #EEEEEE;
    border-right: 1px solid #EEEEEE;
    border-bottom: 1px solid #EEEEEE;
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 20px;
    padding-bottom: 20px;
    
}



.footer {
    padding: 60px 0;
    
    background-color: var(--footer-bg);
    
    
    
}


.contact-list {
    margin-top: 20px;

    text-decoration: none;
    font-style: normal;
    text-decoration: inherit;
    font-size: 14px;
    line-height: 1.71;

        
    }

    .contact-list .item:not(:last-child) {
        margin-bottom: 9px;
    }

.logo-footer {
    

    color: var(--primary-white-color);
    text-decoration: none;
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    margin-bottom: 20px;
    
    
}

.footer .address {
   
    color: var(--primary-white-color);
    text-decoration: none;
}

.footer .contact {
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
}

.social-links .list {
    display: flex;
    
}

.social-links {
    margin-left: 70px;
}



.social-links .item:not(:last-child) {
    margin-right: 10px;
}

.social-links .title {
margin-top: 0;
margin-bottom: 20px;  
font-weight: 700;
font-size: 14px;
line-height: 1.14;
text-transform: uppercase;
color: var(--primary-white-color);
}
.footer .container {
    display: flex;
    align-items:baseline;
}

.sociallink {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.1);
    
}

.sociallink-icon {
    
    fill: var(--primary-white-color);
    width: 20px;
    height: 20px;
}

.team-social .sociallink-icon {
    
    fill: var(--icons-color);
    
}

.team-social .item:not(:last-child) {
    margin-right: 10px;
}

.team-social{
    display: flex;
   justify-content: center;
}

.sociallink:hover .sociallink-icon,
.sociallink:focus .sociallink-icon{
        fill: var(--primary-white-color);
}

.sociallink:hover,
.sociallink:focus {
    background-color: var(--accent-color);
}





    


 


  

  
  
  







 